@use "../../responsive.scss";

.homepage {
  display: flex;
  height: 100vh;
}

.right_selectoptions h3 {
  font-size: 2rem; /* Larger font size for emphasis */
  font-weight: bold; /* Make it bold */
  text-align: center; /* Center the heading */
  color: #4dc3fa; /* Set a visually appealing color */
  margin-bottom: 1.5rem; /* Add spacing below the heading */
  border-bottom: 2px solid #4dc3fa; /* Add an underline effect */
  padding-bottom: 0.5rem; /* Create space between the text and underline */
  display: inline-block; /* Ensure the underline adjusts to text width */
}

.left-top {
  background-color: #f0a500; /* First color for top section */
  flex: 1; /* Allows it to take half of the left section */
}

.left-bottom {
  background-color: #4caf50; /* Second color for bottom section */
  flex: 1; /* Allows it to take half of the left section */
}

.right_selectoptions {
  flex: 2;
  height: 100%;
  // background-color: rgb(103, 92, 204);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  .wrapper {
    padding: 10px;
    display: flex;
    align-items: center;
    height: 100%;
    margin-bottom: 10px;
    overflow: hidden; /* Prevents overflow outside the wrapper */
  }
}

.centered-button {
  padding: 20px 40px;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(85, 85, 85); // Adjust color as needed
  border: none;
  border-radius: 30px; // Large rounded corners
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgb(70, 70, 70); // Hover color
  }
}

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem;

  border-radius: 8px;

  width: 300px;
  margin: auto;
}

.option-group {
  display: flex; /* Make the container a flexbox */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally (if needed) */
  gap: 3rem; /* Add space between elements */
}

.option-group p {
  font-size: 1.8rem; /* Enlarge the text */
  font-weight: bold; /* Make the text bold */
  color: #ffffff; /* Text color */
  margin: 0; /* Remove default margin */
  text-align: center; /* Ensure text alignment */
}


.button {
  padding: 1rem 2rem; /* Increase padding for a larger button */
  border: none;
  border-radius: 8px; /* Adjust the border-radius to maintain visual balance */
  cursor: pointer;
  font-size: 1.2rem; /* Increase font size for better readability */
  font-weight: bold;
  color: #ffffff;
  background-color: #4dc3fa;
}

.button.selected {
  background-color: #1371ec;
}

.start-button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #1371ec;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;

}

